.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(250, 250, 250, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 음영 추가 */
}

.login-title {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 10px;
    font-family: 'SubFont', 'MainFont', serif;
}

.login-subtitle {
    color: #666;
    font-size: 1.2em;
    margin-bottom: 30px;
}

.login-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-button {
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    padding-left: 5px;
    font-family: 'Arial', sans-serif;
}

.naver-login {
    background-color: #03C75A;
}

.naver-login img {;
    width: 40px;
    height: 40px;
    margin-left: 8px;
    margin-right: 4px;
}

.google-login img {
    width: 24px;
    height: 24px;
    margin-left: 17px;
    margin-right: 10px;
}

.google-login {
    background-color: #ffffff;
    color: #333;
    border: 1px solid rgba(51, 51, 51, 0.16);
}

.kakao-login {
    background-color: #FEE500;
    color: rgba(0, 0, 0, 0.85);
}

.kakao-login img{
    width: 40px;
    height: 40px;
    margin-left: 8px;
    margin-right: 4px;
}

.login-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.data-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.data-button:hover {
    background-color: #555;
}