@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 100;
	font-display: block;
	src: url('./SCDream1.otf') format('otf');
}
@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 200;
	font-display: block;
	src: url('./SCDream2.otf') format('otf');
}
@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 300;
	font-display: block;
	src: url('./SCDream3.otf') format('otf');
}
@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url('./SCDream4.otf') format('otf');
}
@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 500;
	font-display: block;
	src: url('./SCDream5.otf') format('otf');
}
@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 600;
	font-display: block;
	src: url('./SCDream6.otf') format('otf');
}
@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 700;
	font-display: block;
	src: url('./SCDream7.otf') format('otf');
}
@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 800;
	font-display: block;
	src: url('./SCDream8.otf') format('otf');
}
@font-face {
	font-family: 'SCDream';
	font-style: normal;
	font-weight: 900;
	font-display: block;
	src: url('./SCDream9.otf') format('otf');
}
